*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

.page__body {
  min-height: 100dvh;
  font-family: var(--font-family);
  font-size: 14px;
  position: relative;
}

.page__main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

:root {
  --viewport-mobile: 933px;
}
